{% extends "base.html.twig" %}
{% block title %}Planning{% endblock %}
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .tache { height:123px;  }
</style>
{% if user is defined %}
<div class="row">
  <div class="col-md-6">
    <div class="card-body" style="width: 18rem;"> 
        {{ block('image',  "intervention/choix_projet.html.twig") }}
    </div>
  </div>
</div>
{% endif %}
<br><a class="btn btn-success" href="{{ path('listUtilisateurs',{'modif': "false",'idPl': 'nouveau'}) }}"> Préparer la semaine</a></br>
<p></p>
 <table class="table table-hover">
                <thead class="table-dark">
                    <th>Projet</th>
                    <th>Famille</th>
                    <th>Tache</th>
                    <th>Semaine</th>
                    <th>Duree réalisée</th>
                    <th>Durée attribuée</th>
                    <th>Technicien attribué</th>
                    <th>Etat</th>
                    
                    <th></th>
                </thead>
                <tbody>
                    {% set index = 0 %}
                    {% for unplanning in plannningPage %}
                     <tr >  
                        <td>{{unplanning.tache.famille.idprojet.nom}}</td>
                        <td>{{unplanning.tache.famille.nom}}</td>
                        <td>{{unplanning.tache.nom}}</td>
                        <td>{{unplanning.semaine}}</td>
                        <td>{{total[loop.index0]}}</td>
                        <td>{#{unplanning.dureeEst|date("H:i:s")}#}</td>
                        <td>{{unplanning.user.nom}} {{unplanning.user.prenom}}</td>
                        <td bgcolor='{{couleurs[loop.index0]}}'>{{etats[loop.index0]}}</td> 
                       
                        <td><a href="{{ path('listUtilisateurs',{'modif': "true",'idPl': unplanning.id}) }}" class="btn btn-warning">Modifier</a>
                            <a class="btn btn-danger delete" href="{{ path('supprimerPlanning', {'id': unplanning.id }) }}" data-toggle="modal" data-target="#modal_supprimer_planning{{unplanning.id}}" role="button">  
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                                </svg> Supprimer</a>
                            </a>
                        </td>
                       
                       
                            
                        </tr>
                        <div class="modal fade" id="modal_supprimer_planning{{unplanning.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Suppression de l'association </h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Êtes-vous sur de vouloir supprimer cette association ?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                                        <a class="btn btn-danger delete" href="{{ path('supprimerPlanning', {'id': unplanning.id }) }}"  role="button" >
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                                            </svg>Oui
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% set index = index + 1 %}
                    {% endfor %}
                </tbody>
            </table>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {{ knp_pagination_render(plannningPage) }}
    </ul>
</nav>
{% endblock %}