<!DOCTYPE html>
<html >
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/png" sizes="16x16" href="/photo/franck_roy.png">
       
        {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
        <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
        {% endblock %}
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/sql.js/1.4.0/dist/sql-wasm.js" integrity="sha512-8oJoeo0ykAzuJzQFJDnwz9t4Rr+1xue7LFX+kr0NJMpOHH9QJPC563If+sakheUe3QbLwTTgXIGPC6YZTwp7Iw==" crossorigin="anonymous"></script>
        
        {% for message in app.flashes('message') %}
         <div class="flash-notice">
        {{ message }}
        </div>
        {% endfor %}
                  
       
        {% if is_granted('ROLE_ADMIN') %}
        
        <nav class="navbar navbar-expand-lg navbar-light bg-light primary-color">
            <!-- top nav -->
            <a href="/" ><div class="card-body" style="width: 14rem; height:8rem;">                        
        <img class="card-img" src="/photo/franck_roy.png" /></div></a>
            <ul class="navbar-nav mr-auto">             
                <li class="nav-item dropdown">
                    <button class="btn btn-info dropdown-toggle" role="button" id="dropdownMenuButton" data-toggle="dropdown">
                        Les Projets</button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{{ path('projets' ) }}">Liste des projets</a>
                        <a class="dropdown-item" href="{{ path('ajouterProjet' ) }}">Ajouter un projet</a>
                        <a class="dropdown-item" href="{{ path('archives' ) }}">Liste des projets archivés</a>
                    </ul>                              
                </li>
            </ul>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <div class="dropdown">
                        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true">
                           Les Clients</button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item" href="{{ path('clients') }}" >Liste des clients</a></li>
                            <li><a class="dropdown-item" href="{{ path('ajouterClient') }}">Ajouter un client</a></li>
                        </ul>
                    </div>                    
                </li>
            </ul>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <div class="dropdown">
                        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true">
                           Les Comptes</button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item" href="{{ path('logins') }}" >Liste des comptes</a></li>
                            <li><a class="dropdown-item" href="{{ path('ajouterCompte') }}">Ajouter un compte</a></li>
                        </ul>
                    </div>                    
                </li>
            </ul>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <div class="dropdown">
                        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true">
                           Les Interventions</button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item" href="{{ path('Interventions') }}" >Liste des interventions</a></li>
                            <li><a class="dropdown-item" href="{{ path('listuser') }}">Ajouter une intervention</a></li>
                        </ul>
                    </div>
                    
                </li>
            </ul>
             <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <div class="dropdown">
                        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true">
                           Le Planning</button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item" href="{{ path('listUtilisateurs',{'modif': "false",'idPl': 'nouveau'}) }}" >Préparer la semaine</a></li>
                            <li><a class="dropdown-item" href="{{path('voirPlanning')}}">Voir le planning général</a></li>
                            <li><a class="dropdown-item" href="{{path('listUtilisateurs' ,{'modif': "planning",'idPl': 'f'})}}">Voir le planning d'un technicien</a></li>
                        </ul>
                    </div>
                    
                </li>
            </ul>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <div class="dropdown">
                        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true">
                           Les Utilisateurs</button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item" href="{{ path('users')}}" >Liste des utilisateurs</a></li>
                            <li><a class="dropdown-item" href="{{path('ajouterUser')}}">Ajouter un utilisateur</a></li>
                        </ul>
                    </div>
                    
                </li>
            </ul>
            <ul class="navbar-nav mr-auto"> 
        </nav>
        
     
        <!-- end of top nav -->
        {% endif %}
        
        
    </head>
    
    <body > 
    
                   
    <style>
        .base{margin: 2% 2% ;}
    </style>
        <div  class="base">
            {% if app.user %}
                <a class="btn btn-dark" href="{{ path('app_logout') }}" role="button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
                        <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
                    </svg> Se déconnecter
                </a>
                <p></p>
            {% endif %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        </div>
    </body>
</html>
